

@keyframes dangerzone-title-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loading-progress-bar {
    0% {
        left: -300%;
    }
    100% {
        left: 100%;
    }
}