
:root {
    --vocab-cards-background: rgb(194, 194, 194);
    --vocab-cards-border: rgb(121, 121, 121);

    --bottom-button-home-bg: rgb(104, 104, 202);
    --bottom-button-abort-bg: rgb(212, 73, 38);
    --bottom-button-confirm-bg: rgb(128, 177, 88);
    --bottom-button-info-bg: rgb(71, 209, 214);
    --bottom-button-delete-storage-bg: tomato;

    --interface-bg: #b49368;
    --interface-bg-dark: #8b6c43;

    --error-bg: rgb(255, 135, 114);
    --success-bg: yellowgreen;

    --add-vocab-bg: rgb(81, 81, 209);

    --edit-topic-btn-bg: orange;

    --level-1: rgb(197, 44, 44);
    --level-2: rgb(226, 85, 85);
    --level-3: rgb(199, 132, 56);
    --level-4: rgb(178, 199, 61);
    --level-5: rgb(134, 179, 51);

    --mark_inactive: #999;
    --mark_active: rgb(195, 177, 46);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ebrima";
}
.body-mMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.body-eMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.body-tMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.no-learning-possible {
    color: #666;
    box-shadow: 0 0 10px 1px var(--bottom-button-abort-bg) inset;
}
#info-window {
    z-index: 5;
}
#info-window input[type="checkbox"] {
    margin-right: 10px;
}
input[type="text"], textarea {
    outline: none;
    outline-offset: 0;
}
textarea {
    resize: none;
}
.add-container-confirm-button {
    transition: all .2s ease-out;
}
.invalid-input {
    background-color: var(--bottom-button-abort-bg);
    box-shadow: 0 0 5px 1px #333 inset;
}
.valid-input {
    background-color: var(--bottom-button-confirm-bg);
    box-shadow: 0 0 5px 1px #333;
}
#eWin-exit-button p {
    pointer-events: none;
}
#error-window {
    z-index: 10;
}
.arrow-left, .arrow-right {
    z-index: 3;
}
.lvl-true {
    box-shadow: 0 0 5px 2px #aaa inset;
}
.round-l-buttons {
    box-shadow: 5px 5px 10px -1px #333;
}
.solo-text-inputs {
    border: 2px solid var(--vocab-cards-border);
    background-color: var(--interface-bg-dark);
    box-shadow: 0 0 5px 1px #333 inset;
    border-radius: .2rem;
    padding-left: 5px;
}
.topic-card-middle-container {
    overflow-y: auto;
}
.marked {
    background-color: var(--mark_active);
}
.not-marked {
    background-color: var(--mark_inactive);
}
.active > .light-ellipse,
.add-container-confirm-button > .light-ellipse,
.round-l-buttons > .light-ellipse,
.card-side-buttons > .light-ellipse,
.rename-topic-buttons > .light-ellipse,
.danger-buttons > .light-ellipse,
#start-learning-button > .light-ellipse,
.tM-training-buttons > .light-ellipse {
    display: block;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 5%;
    left: 10%;
    background-color: rgba(204, 204, 204, .5);
    transform: rotate(20deg);
    border-radius: 100% 40%;
    pointer-events: none;
}